/* 追加するCSS */



/* 投稿に関するCSS */
.post {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:1%;
    border-bottom: 1px solid #000000;

}

.post-icon {
    width: 120px;
}

.post-image {
    width: 100%;
}

.post-name {
    font-weight: bold;
    margin-left:1%;
    font-size:160%;
}

.post-text {
    width: 100%;
    margin-left:3%;
    font-size:130%;
}

.post-info {
    position: relative;
    width: 100%;
}

.post-action {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.password_item{
    width: 100%;
    margin-left:3%;
    font-size:120%;
}

/* inputのデフォルトスタイルをリセット */
.post-not-edit-input {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* textareaのデフォルトスタイルをリセット */
.post-not-edit-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}

.header {
    font-style:inherit;
    color:darkslategrey;
    background-color: lightgray;
    text-align: center;
    margin-top: 3%;
    font-size:400%;

}

.post-form {
    display:flex;
    align-items:last baseline;
    margin-left:12%;
    margin-bottom:5%;
}
.post-form-main{
    margin-left:10%;
}

.post-fotm-name{
    margin-top:10%;
}

.post-form-message{
    margin-top:10%;
}

.post-form-submit{
    margin-top:20%;
}

input.post-form-name-input{
    width:150%;

}

textarea.post-form-message-text{
    width:250%;
    line-height: 2;
}

logo-image{
    margin-right:3%;
}

